{% if data == 1 %}
    {% if teacher %}
        <li><a href="{% url 'teacherZoom' %}">For Teacher</a></li>

    {% else %}
        <li><a data-toggle="modal" data-target="#teacherModal">For Teacher </a></li>

    {% endif %}
{% else %}
    <div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="teacherModalLabel">Sorry!</h4>
            </div>
            <div class="modal-body">
                You can apply to become a teacher at an organization.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}