{% if data == 1 %}

<button class="btn btn-primary btn-lg" id="CDetailS">Show the detail</button>

{% else %}
<div id="ShowD" style="display: block;margin-left: 100px">
    {% include 'compose/common/introduction.html' with data=course.detail %}
</div>


<script>
    document.getElementById('CDetailS').addEventListener('click', function () {
        document.getElementById('form').style.display = 'none';
        document.getElementById('ShowD').style.display = 'block';
    });
</script>

{% endif %}