<button type="button"
        class="btn btn-success"
        data-toggle="modal" data-target="#taskgradeModal{{ task.id }}">
    Score
</button>


<div class="modal fade" id="taskgradeModal{{ task.id }}" tabindex="-1" role="dialog"
     aria-labelledby="taskgradeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="taskgradeModalLabel">Input the score od task</h4>
            </div>
            <form action="{% url 'score' task.id %}" method="get">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="score" value="{{ score }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Score</button>
                </div>
            </form>

        </div>
    </div>
</div>

