<!-- 导航-->
<div class="nav4">
    <ul>
        <li><a href="{% url 'OrgDetail_home' org_id %} ">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;机构首页
        </a></li>
        <li><a href="{% url 'OrgDetail_desc' org_id %}">
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;机构介绍
        </a></li>
        <li><a href="{% url 'OrgDetail_course' org_id %}">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;机构课程
        </a></li>
        <li><a href="{% url 'OrgDetail_teacher' org_id %}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;机构教师
        </a></li>
        {% include 'compose/common/fav.html' with data=1 id=org.id %}
    </ul>
</div>
