<button type="button" class="btn btn-danger {% if data == 1 %}btn-lg{% endif %}" data-toggle="modal" data-target="#DM{{ id }}">
    Delete{% if data == 1 %} This Lesson{% endif %}
</button>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="DM{{ id }}">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="statusModalLabel">Are you sure?</h4>

            <div class="modal-body">
                Are you sure to delete this one?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-danger" href="{% url url id %}">I am sure!</a>
            </div>
        </div>
    </div>
</div>


