{% extends 'base.html' %}
{% block title %}章节内容编辑{% endblock %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}");</script>
        {% endfor %}
    {% endif %}
    <!-- <div style="overflow: auto; "> -->
    <div>
        <div style="margin-left: 10px;margin-left: 10px;">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <a href="{% url 'Lesson_edit' content.lesson.id %}">
                        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>返回
                    </a>
                    <button type="submit" class="btn btn-primary btn-sm">保存</button>
                </div>
                <div>
                {{ form.media }}
                {% csrf_token %}
                    章节名称：{{ form.name }}
                    {{ form.learning_space }}
                {{ errs }}
                </div>


            </form>
        </div>
        <div>
            <li>
                <a href="{% url 'uploadfile' content.id %}"><span class="glyphicon glyphicon-pushpin"
                                                                  aria-hidden="true"></span>上传课件</a>
            </li>
            预览：
            <ol>
                {% for courseResource in courseResources %}
                    <li>
                        {{ courseResource.name }}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}