{% extends 'compose/base/layout.html' %}
{% block title %}章节内容编辑{% endblock %}
{% block content %}

    {% include 'compose/common/back-to-url.html' with url='Lesson_edit' data=content.lesson.id lg=1 %}
    {% include 'compose/teach/content-edite-form.html' with data=1 %}
    {% include 'compose/teach/content-show.html' with data=1 %}
    {% include 'compose/teach/uploadfile.html' %}
    {% include 'compose/teach/task-list.html' with data=1 %}
    {% include 'compose/common/file.html'%}

    {% include 'compose/teach/content-edite-form.html' %}
    {% include 'compose/teach/content-show.html' %}
 {% include 'compose/teach/task-list.html' %}

{% endblock %}