{% extends "Course_edit.html" %}
{% block title %}{{ course.name }}课程主页{% endblock %}
{% block branch %}
    {% include 'compose/common/introduction.html' with data=course.detail %}
    <h1>主讲教师</h1>
    <div class="ListCard">
        {% include 'compose/course/teacher-detail.html' with teaher=course.teacher %}
    </div>

    <h1>课程章节</h1>

    <div>

        <div class="left-card">
            {% include 'compose/course/notice-list.html' with notices=course.notice_set.all %}
        </div>

        <div class="right-card">
            {% include 'compose/course/comment-list.html' with courseComments=course.coursecomments_set.all %}
        </div>

        <div class="chapter-div">
            {% include 'compose/course/lesson-list.html' with lesson_list=course.lesson_set.all %}
        </div>

    </div>

{% endblock %}