{% extends "course_detail_base.html" %}
{% block title %}{{ course.name }}门户{% endblock %}
{% block branch %}

    <div>


        <div class="left-card">
            <div>
                <h3><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>课程须知</h3>
            </div>
            {% for notice in notices %}
                <div>
                    {{ notice.title }}
                </div>
            {% endfor %}
        </div>


        <div class="right-card">

            <div>
                <h3><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>课程评论</h3>
            </div>
        <div>
            <input type="text" value="输入你的评论" >
        </div>
            {% for courseComment in courseComments %}
                <div>
                    <p>{{ courseComment.comments }}</p>
                    <p>--来自：{{ courseComment.user.nick_name }}</p>
                </div>
            {% endfor %}
        </div>


        <div class="chapter-div">
            {% for lesson in lesson_list %}
                <div class="chapter-list">
                    <div class="lessonTitle">
                        <h3><span class="glyphicon glyphicon-tasks" aria-hidden="true"
                                  style="vertical-align: middle; margin-right: 1px;"></span>{{ lesson.name }}</h3>
                    </div>

                    <div class="contentTitle">
                        {% for content in lesson.content_set.all %}
                            <a href="{% url 'Course_learn' course_id lesson.id content.id %}">
                                <div>

                                    <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        {{ content.name }}
                                    </h4>

                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}