{% extends 'compose/base/layout.html' %}
{% block title %}课程界面{% endblock %}
{% block content %}


    <div class="bread">
        <ul>
            <li><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'teacherZoom' %}">教师课程</a></li>
            <li><a href="{% url 'Course_edit' course_id %}">课程门户</a></li>
        </ul>
    {% include 'compose/common/back-to-url.html' with url='teacherZoom' %}
    </div>

    <!-- 信息-->
        {% include 'compose/course/course-base-detail.html' %}
        {% include 'compose/teach/course-nav.html' %}


    {% block branch %}
    {% endblock %}

{% endblock %}