{% extends 'compose/base/layout.html' %}

{% block title %}课程列表{% endblock %}

{% block content %}

    <div class="bread">
        <ul class="nav-list">
            <a href="{% url 'index' %}">首页</a>>
            <a href="{% url 'CourseList' %}">课程</a>
        </ul>
        {% include 'compose/common/back-to-url.html' with url='index' %}
    </div>

    <div style="margin-top: 10px">
        {% include 'compose/common/search.html' with data=1 %}
        {% include 'compose/common/category.html' %}
        {% include 'compose/common/sort.html' %}
    </div>
    {#课程列表#}
    {% include 'compose/course/card.html' %}

    <!-- 分页 -->
    {% include 'compose/common/pagination.html' with obj=courses %}


{% endblock %}