{% extends "course_detail_base.html" %}
{% block title %}{{ course.name }}详情{% endblock %}
{% block branch %}

{% include 'compose/common/introduction.html' with data=course.detail %}
{% include 'compose/common/teacher-introduction.html'%}

    <h1>课程章节</h1>
    <div>

        <div class="left-card">
            {% include 'compose/course/notice-list.html' with notices=course.notice_set.all %}
        </div>

        <div class="right-card">
           {% include 'compose/course/comment-list.html' %}
        </div>

        <div class="chapter-div">
            {% if course.lesson_set.all %}
                {% include 'compose/course/lesson-list.html' with lesson_list=course.lesson_set.all %}
            {% else %}
                <p>暂无章节内容</p>
            {% endif %}
        </div>

    </div>

{% endblock %}