{% extends 'compose/base/layout.html' %}

{% block title %}主页{% endblock %}

{% block content %}
    <div class="row" style="display: flex; justify-content: space-between;">
        <div style="width: 200px;">
            {% include 'compose/base/show.html' with title='Popular Organizations' link='OrgDetail' data=recommend_orgs %}
            {% include 'compose/base/show.html' with title='Popular Courses' link='CourseDetail' data=recommend_courses %}
        </div>
        <div class="mid-part" style="width: calc(100% - 500px);">
            {% include 'compose/base/banner.html' %}
        </div>
        <div style="width: 200px;">
                <p>You have studied {{ course_count }} courses</p>
                {% include 'compose/base/show.html' with title='My Courses' link='CourseDetail' data=my_courses name=1 %}
                <p>You have {{ fav_course_count }} favorite courses</p>
                {% include 'compose/base/show.html' with title='Favorite Courses' link='CourseDetail' data=my_fav_courses name=1 %}
        </div>
    </div>
{% endblock %}