{% extends 'compose/base/login_resister_view.html' %}
{% block title %}Sign in{% endblock %}

{% block form %}

    <div class="sign-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" name="username" placeholder="用户名">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            {% if 错误 %}
                <strong class="errors">tips:{{ 错误 }}</strong>
            {% endif %}
            <div class="buttons">
                <button type="submit" class="btn btn-success btn-lg">Sign in</button>
                <a type="button" class="btn btn-warning btn-lg" href="{% url 'register' %}" style="margin-left: 30px">Sign up</a>
            </div>

        </form>
    </div>

    <style>
        .sign-form {
            margin-top: 100px;
            margin-right: 100px;
        }

        .mb-3 {
            margin-top: 20px;
        }

        .buttons {
            margin-top: 20px;
        }

        .form-label {
            font-size: 20px;
        }
        .errors {
        font-size: 20px;
            color: #c12e2a;
        }

    </style>


{% endblock %}