{% extends 'base.html' %}
{% block title %}我的消息{% endblock %}
{% block content %}
    <div>
        <a href="/">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>返回</a>
    </div>

    <h1>未读消息</h1>
    <div class="ListCard">
        {% for notice in notice_list %}

            <div>
                <a href="{% url 'readMessage' notice.id %}">
                    <h2>{{ notice.course }}</h2>
                    <p>发送时间：<strong>{{ notice.add_time }}</strong></p>
                    <h4>标题：<strong>{{ notice.title }}</strong></h4>
                    <p>内容：{{ notice.content|safe }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <h1>已读消息</h1>
    <div class="ListCard">
        {% for notice in notice_list_has_read %}

            <div>
                    <h2>{{ notice.course }}</h2>
                    <p>发送时间：<strong>{{ notice.add_time }}</strong></p>
                    <h4>标题：<strong>{{ notice.title }}</strong></h4>
                    <p>内容：{{ notice.content|safe }}</p>
            </div>
        {% endfor %}
    </div>




{% endblock %}
