{% extends "org_detail_base.html" %}
{% block title %}课程介绍{% endblock %}
{% block branch %}


   


        <div class="ListCard">
            {% for course in org.course_set.all %}
                <div>
                    <a href="{% url 'CourseDetail' course.id %}">
                        <img src="{{ MEDIA_URL }}{{ course.image }}" class="card-img-top" alt="课程封面图片">

                        <section>
                            <h3>{{ course.name }}</h3>
                            <h4>机构：<strong>{{ course.org }}</strong></h4>
                            <h4>教师：<strong>{{ course.teacher }}</strong></h4>
                            <h4>课程描述：<strong>{{ course.desc }}</strong></h4>

                        </section>
                    </a>
                </div>
            {% endfor %}
        </div>
    









{% endblock %}