{% extends "compose/base/layout.html" %}
{% block title %}机构首页{% endblock %}
{% block content %}

    <div class="bread">
        <ul>
            <li><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'OrganizationsView' %}">机构</a></li>
            <li><a href="{% url 'OrgDetail' org.id %}">机构详情</a></li>
        </ul>


        {% include 'compose/common/back-to-url.html' with url='OrganizationsView' %}
    </div>

    <!-- 机构基本信息板块-->
    {% include 'compose/org/org-base-detail.html' %}
    <!-- navbar板块-->
    {% include 'compose/org/org-base-nav.html' %}

    {% block branch %}
    {% endblock %}



{% endblock %}