{% extends 'base.html' %}
{% block title %}用户注册{% endblock %}

{% block content %}
    <a href="{% url "index" %}"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>返回</a>
    {#    <form action="" method="post" class="form-control">#}
    {##}
    {#            {% csrf_token %}#}
    {#            {{ form.as_p }}#}
    {##}
    {#            <button type="submit">提交注册</button>#}
    {#     #}
    {#    </form>#}


    <form action="" method="post" class="form-control">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_username">用户名</label>
            {{ form.username }}
        </div>


        <div class="form-group">
            <label for="id_email">电子邮箱</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_phone">电话号码</label>
            {{ form.mobile }}
        </div>
        <div class="form-group">
            <label for="id_password">密码</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="id_password">确认密码</label>
            {{ form.password2 }}
        </div>


        <div class="alert alert-warning" role="alert">
            注意事项：{{ form.errors }}
        </div>
        <button type="submit" class="btn btn-primary">提交注册</button>
    </form>


{% endblock %}