{% extends 'compose/base/login_resister_view.html' %}
{% block title %}Sign up{% endblock %}

{% block form %}

    <div class="sign-form">
        <form action="{% url 'register' %}" method="post" class="row g-3">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="User Name">
            </div>

            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" name="mobile" placeholder="Phone Number">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" name="password1" placeholder="Password">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" name="password2" placeholder="Confirm Password">
            </div>

            {% if form.errors %}
                <strong class="errors">tips:{{ form.errors }}</strong>
            {% endif %}

            <div class="buttons">
                <button type="submit" class="btn btn-success btn-lg">Sign up</button>
                <a type="button" class="btn btn-warning btn-lg" href="{% url 'login' %}">Sign in</a>
            </div>

        </form>
    </div>


    <style>
        .sign-form {
            margin-top: 100px;
            margin-right: 100px;

        }

        .mb-3 {
            margin-top: 10px;
            width: 350px;
        }

        .buttons {
            margin-top: 20px;
        }

        .form-label {
            font-size: 20px;
        }

        .errors {
            font-size: 20px;
            color: #c12e2a;
        }

    </style>
{% endblock %}