{% extends 'compose/base/layout.html' %}
{% block title %}所授课程{% endblock %}
{% block content %}
<div style="margin: 15px 10px;">
    {% include 'compose/common/back-to-url.html' with url='index' %}
    {% include 'compose/teach/teacher-form.html' %}
    {% include 'compose/teach/add-course-form.html' %}
    <div style="margin-top: 10px">
        {% include 'compose/common/search.html' %}
        {% include 'compose/common/category.html' %}
        {% include 'compose/common/sort.html' %}
    </div>

    {% include 'compose/teach/course-list.html' with teacher=user.teacher %}
    {% include 'compose/common/pagination.html' with obj=courses %}
</div>
{# #}

{% endblock %}