{% extends 'base.html' %}
{% block title %}修改个人信息{% endblock %}
{% block content %}
    <div>
        <a href="/">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>返回</a>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        用户名：{{ form.username }}
        性别：{{ form.gender }}
        邮箱：{{ form.email }}
        手机号：{{ form.mobile }}
        头像： {{ form.image }}
        {{ formTeacher }}
        <button type="submit" class="btn btn-primary">修改</button>
    </form>
{% endblock %}