
<button type="button" class="btn btn-success btn-sm" data-toggle="modal"
        data-target="#userNoticeModal{{ userMsg.notice_id }}">Detail
</button>


<!-- Modal -->
<div class="modal fade" id="userNoticeModal{{ userMsg.notice_id }}" tabindex="-1" role="dialog"
     aria-labelledby="userNoticeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userNoticeModalLabel">{{ userMsg.notice.title }}</h4>
            </div>
            <div class="modal-body">

                {{ userMsg.notice.content|safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-primary" href="{% url 'readMessage' userMsg.notice_id %}">I have
                    read.</a>
            </div>
        </div>
    </div>
</div>


