 <div class="ListCard">
        {% for course in fav_courses %}
            <div>
                <a href="{% url 'CourseDetail' course.id %}">
                    <img src="{{ MEDIA_URL }}{{ course.image }}" class="card-img-top" alt="课程封面图片">
                </a>
                <section>
                    <h3>{{ course.name }}</h3>
                    <h4>机构：<strong>{{ course.org }}</strong></h4>
                    <h4>教师：<strong>{{ course.teacher }}</strong></h4>
                    <h4>课程描述：<strong>{{ course.desc }}</strong></h4>
                    <a href="{% url 'deleteFav' course.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除</a>
                </section>
            </div>
        {% endfor %}
    </div>