<div class="ListCard">
        {% for org in fav_orgs %}
            <div>
                <a href="{% url 'OrgDetail' org.id %}">
                    <img src="{{ MEDIA_URL }}{{ org.image }}" class="card-img-top" alt="机构封面图片">
                </a>
                <section>
                    <h3 class="card-title">{{ org.name }}</h3>
                    <h4 class="card-text">地区：<strong>{{ org.city }}</strong></h4>
                    <h4 class="card-text">学习人数：<strong>{{ org.course_nums }}</strong></h4>
                    <h4 class="card-text">课程数：<strong>{{ org.students }}</strong></h4>
                    <a href="{% url 'deleteFav' org.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除</a>
                </section>
            </div>
        {% endfor %}
    </div>